@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');
.App {
  text-align: center;
  font-family: 'Merriweather', sans-serif;
}
*{
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.suggestion-active{
  background-color: #ecb241;
  color: #383a42;
  cursor: pointer;
  font-weight: 800;
}

.schoolPopup{
  font-size: 12px;
  color: #777999;
  border: 1px solid #777999;
  border-radius: 5px;
  word-break: break-word;
  width: auto;
}

.busStopPopup{
  font-size: 12px;
  color: #777999;
  border: 1px solid #777999;
  border-radius: 5px;
  word-break: break-word;
  width: auto;
}

.colored{
transform: scale(1.5);
color: #389de4;
}
